	
<br />
   	{% from "LaPoizWindBundle:Ajax:blockHistoryDataAction.html.twig" import view %}
   	{{ view(dataWindPrev) }}   
<br />
	<div id="result_second_level">
   		{% include "LaPoizWindBundle:Ajax:blockHistoryDataDisplayInfo.html.twig"  %}
   	</div>
<br />
