		
			<ul>
			{% for spot in spots %}
					<li><a class="link_object"  href="{{ path('_admin_spot_display', {'id':spot.id}) }}">
						{{ spot.nom }}
					</a></li>
				{% else %}
					<div id="warning">{{ "warning.list.spot.notFound" | trans }}</div>
				</p>
			{% endfor %}
			</ul>
