{% extends 'LaPoizWindBundle:Default:base.html.twig' %}

{% block nav_article %}
	<div id="nav">
	   	{% from "LaPoizWindBundle:Spot:blockList.html.twig" import list %}
	   	{{ list(spots) }}
   	</div>
{% endblock %}

{% block contenu %}
		<h2>Concept</h2>
		<div>
			<span>
				Ce site est en cours de réalisation.<br />
				Son but est de récuperer sur différent site comme Windguru, Windfinder, etc. les prévisions de vents sur des spots de kite et de windsurf.<br />
			</span>
			<br />
			<span>
				A gauche vous avez la liste des spots.<br />
				Actuellement il n'y en a qu'un... ceci est du à un problème technique lié au serveur mutualisé sur lequel se trouve le site.<br />
				Vous pouvez cliquer sur le site (Saint Aubin) afin d'avoir le graphe des prévisions de ce matin (8h00).<br />
			</span>
			<br />
			<span>
				Seul l'administrateur peut ajouter simplement de nouveau spot.<br />
				Il suffira de remplir un formulaire accessible via un bouton en haut du site (absent pour l'instant), afin de me notifier votre velonté d'ajouter un nouveau spot.<br /> 
			</span>
			<br />
			<span>
				Ce site n'a pas vocation à être connu.<br />
				Il est destiné au personne avec qui je navigue, afin de les aider pour l'organisation de nos week-end.<br />
				Si vous voulez le diffuser, il est préférable d'installer ce site sur un de vos serveur (OVH, planetHoster etc.)<br />
				Mon serveur ne pouvant supporter une trop grosse fréquentation du site.<br /> 
				Pour cela aller sur: <a href="https://github.com/lapoiz">https://github.com/lapoiz</a><br />
			</span>
			<br />
			<span>
				Il existe une application Android pour accéder à ces données:
				<a href="https://play.google.com/store/apps/details?id=com.lapoiz.wind">https://play.google.com/store/apps/details?id=com.lapoiz.wind</a><br />
				Elle actuellement assez basique, mais peut être utile.	<br />
			</span>
			<br />
		</div>

		<h2>Les Evolutions</h2>
		<div>
			<span>
				Fiabiliser l'application<br />
				Résoudre le problème lier à la mutualisation de l'hebergement du site (extension intl)<br />
			</span>
			<br />

			<span>
				Ajouter d'autre site (Meteo France ...)<br />
			</span>
			<br />

			<span>
				Améliorer l'interface<br />
			</span>
			<br />

		</div>


			<span>Damien.</span>

		
{% endblock %}